* {
    padding:0;
    margin:0;
    /* This is the wireframe design */
    border: 1px solid red;
}

:root {
    --bright: rgb(186, 30, 229);
    --light: lightgray;
    --dark: rgb(52, 52, 52);
}

body {
    background-color: var(--dark);
    font-size: 16px;
}

header{
    height: 100px;
    max-width: 600px;
    margin: auto;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header p {
    color: var(--light);
    font-family: sans-serif;
    font-size: 100%;
}

h1, h2 {
    font-family: sans-serif;
    color: var(--bright);
}

h1{
    font-size: 200%;
}

h2{
    max-width: 200px;
    font-size: 150%;
    padding: 5px;
    border: 2px, solid, var(--light);
    border-radius: 5px;
}

main {
    min-height: 80vh;
}

.content {
    color: var(--light);
}