* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* This is the wireframe design */
    border: 1px solid red;
}

:root {
    --bright: rgb(179, 86, 184);
    --light: lightgray;
    --dark: rgb(67, 68, 71);
}

body {
    background-color: var(--dark);
    font-size: 16px;
}

header{
    height: 100px;
    max-width: 600px;
    margin: auto;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header p {
    color: var(--light);
    font-family: sans-serif;
    font-size: 100%;
}

h1, h2 {
    font-family: sans-serif;
    color: var(--bright);
}

h1{
    font-size: 250%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.card {
    min-width: 32%;
    border: var(--light) 3px dashed;
    padding: 5px;
    position:relative;
}

h2{
    max-width: 300px;
    font-size: 175%;
    padding: 5px;
    border: var(--light) 3px solid;
    border-radius: 5px;
    background-color: var(--dark);
    position: absolute;
  left: 50px;
  top: -25px;
}

main {
    min-height: 80vh;
}

.content {
    color: var(--light);
    background-color: var(--bright);
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
}

.card p {
    color: var(--bright);
    font-size: 100%;
    padding: 5px 0;
    font-family: sans-serif;
    line-height: 150%;
    margin-top: 20px;
    max-width: 300px;
}

code {
    font-size: 100%;
}

@media screen and (max-width:992px) {
    .card {
        min-width:50%;
    }
}

@media screen and (max-width:768px) {
    .card {
        min-width:100%;
    }
}